// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin breakpoint($min-width, $max-width: false) {
  @if $min-width > 0 and $max-width != false {
    @media only screen and (min-width: $min-width) and (max-width: $max-width) {
      @content
    }
  } @else if $min-width == 0 and $max-width != false {
    @media only screen and (max-width: $max-width) {
      @content
    }
  } @else if $min-width > 0 and $max-width == false {
    @media only screen and (min-width: $min-width) {
      @content
    }
  } @else {
      @content
  }
}

@mixin container($container-width) {
  @if $container-width > 0 {
    max-width: $container-width;
  } @else {
    max-width: 100%;
  }
}

@mixin make-col($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}

@mixin make-offset($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}

@mixin hidden {
  display: none;
  visibility: hidden;
}

@mixin link-reset($color: inherit) {
  color: $color;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color;
    text-decoration: none;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  height: 100%;
}
